.container{
    display: flex;
    align-items: top;
    gap: 2px;
}

.left{
    height: 100%;
    flex: 2;
    border-right: 2px solid gray;
    padding-top: 30px;
}

.left ul{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.link{
    color: gray;
    flex-direction: column;
    font-size: 22px;
    text-decoration: none;
}

.middle{
    height: 100%;
    flex: 6;
    display: flex;
    flex-direction: column;
}

.middle ul{
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
}

.middle ul li{
    display: flex;
    align-items: center;
}

.text-box{
    flex: 5;
}

.img-box{
    flex: 2;
}

.post-meta{
    display: flex;
    gap: 10px;
}

.right{
    flex: 3;
    padding-left: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;  
    border-left: 1px solid black;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.buttons div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-right:50px;
}

.buttons button{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
}

.saved-blogs{
    display: flex;
    flex-direction: column;
}

.saved-blogs ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.saved-blogs ul li{
    border-bottom: 1px solid gray;
}